table {  color: white; font-family: Helvetica, Arial, sans-serif; width: 640px; border-collapse: collapse;}
td, th { border: 1px solid transparent; height: 30px; }
th { background: black; font-weight: bold; }
td { background: red; text-align: center; }
tr:nth-child(even) td { background:#0B3B0B; }  
tr:nth-child(odd) td { background:#0B610B; } 
tr td:hover { background:blue ; color: yellow; }