table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 17px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }
td, th { border: 1px solid transparent; height: 30px; }
th { background: #b9c9fe; font-weight: bold;border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; }
td { background: red; text-align: center; border-bottom: 1px solid #fff; border-top: 1px solid transparent; }
tr:nth-child(even) td { background:#1E90FF; }  
tr:nth-child(odd) td { background:#ADD8E6; } 
tr td:hover { background:white ; color: yellow; }